html, body {
  margin: 0;
  padding: 0;
}
canvas {
  margin-left: 393.5px;
  margin-right: 393.5px;
  display: block;
}

/* Placing the explosion video in the right place and hiding it*/
#explosionVideo {
  margin-left: 393.5px;
  display: none;
}

/* Styling for minefield images */
.photo {
  position: absolute;
  width: 393.5px;
  height:593px;
}

#minefield1 {
  top:0px;
  left:0px;
}

#minefield2 {
  top:0px;
  left: 886.5px;
}

/* Common styling for all buttons */
.button {
  border: 2;
  color: #EAE0D5;
  padding: 5px 7px;
  background-color: #5E503F;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
  position: absolute;
}

/* Common styling for all sliders */
.slider {
  position: absolute;
  width: 335px;
  background-color: #5E503F;
  -webkit-appearance:none;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
}

/* Styling for slider thumb in WebKit browsers */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #EAE0D5;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* Styling for slider thumb in Mozilla browsers */
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #EAE0D5;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* Styling for Easy difficulty button */
#ezbtn {
  font-size: 20px;
  top: 525px;
  left: 500px;
}

/* Styling for Normal difficulty button */
#normbtn {
  font-size: 20px;
  top: 525px;
  left: 600px;
}

/* Styling for Hard difficulty button */
#hardbtn {
  font-size: 20px;
  top: 525px;
  left: 725px;
}

/* Styling for Restart button and hiding it initially */
#rebtn {
  display: none;
  font-size: 25px;
  top: 193px;
  left: 585px;
}

/* Styling for random reveal buttons and hiding them initially */
#revealButtons1 {
  display: none;
  font-size: 15px;
  top: 535px;
  left: 420px;
}

#revealButtons2 {
  display: none;
  font-size: 15px;
  top: 535px;
  left: 575px;
}

#revealButtons3 {
  display: none;
  font-size: 15px;
  top: 535px;
  left: 730px;
}

/* Styling for Lives Slider */
#livesSlider {
  top: 462px;
  left: 540px;
}

/* Styling for Timed mode slider and hiding it initially */
#timedModeSlider {
  display: none;
  top: 492px;
  left: 540px;
}

/* Styling for Timed mode button */
#timedModeBtn {
  font-size: 20px;
  top: 480px;
  left: 575px;
}

/* Hover effects for all sliders */
.slider:hover {
  background: #000000;
  transition-duration: 0.6s;
  width: 345px;
}

/* Hover effect for slider thumb in WebKit browsers */
.slider::-webkit-slider-thumb:hover {
  background: #F9FF6A;
  transition-duration: 0.6s;
}

/* Hover effect for slider thumb in Mozilla browsers (typo: 'mox' should be 'moz') */
.slider::-moz-range-thumb:hover {
  background: #F9FF6A;
  transition-duration: 0.6s;
}

/* Hover effect for Easy difficulty button */
#ezbtn:hover {
  background-color: #000000;
  color: #59FF6A;
  letter-spacing: 1px;
  left: 498.5px;
}

/* Hover effect for Normal difficulty button */
#normbtn:hover {
  background-color: #000000;
  color: #F9A620;
  letter-spacing: 1px;
  left: 597.5px;
}

/* Hover effect for Hard difficulty button */
#hardbtn:hover {
  background-color: #000000;
  color:#DA2C38;
  letter-spacing: 1px;
  left: 723.5px;
}

/* Hover effect for Restart button */
#rebtn:hover {
  background-color: #085C07;
  letter-spacing: 1px;
  left: 582px;
}

/* Hover effect for Timed Mode button */
#timedModeBtn:hover {
  background-color: #085C07;
  letter-spacing: 1px;
  left: 570.5px;
}

/* Hover effects and disappear on click effects for reveal buttons */
#revealButtons1:hover, #revealButtons2:hover, #revealButtons3:hover {
  background-color: #085C07;
  letter-spacing: 0.5px;
}

/* Specific left adjustments for hover effects on reveal buttons */
#revealButtons1:hover {
  left: 417px;
}

#revealButtons2:hover {
  left: 572px;
}

#revealButtons3:hover {
  left: 727px;
}

/* Disappear effect on click for reveal buttons */
#revealButtons1.alrClicked, #revealButtons2.alrClicked, #revealButtons3.alrClicked {
  visibility: hidden;
}
